@font-face {
	font-family: 'Brankic-1979';
	src:url('../fonts/Brankic-1979.eot?-cqzhc8');
	src:url('../fonts/Brankic-1979.eot?#iefix-cqzhc8') format('embedded-opentype'),
		url('../fonts/Brankic-1979.woff?-cqzhc8') format('woff'),
		url('../fonts/Brankic-1979.ttf?-cqzhc8') format('truetype'),
		url('../fonts/Brankic-1979.svg?-cqzhc8#Brankic-1979') format('svg');
	font-weight: normal;
	font-style: normal;
}

.br {
	font-family: 'Brankic-1979';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.br-one-o:before {
	content: "\e600";
}
.br-two-o:before {
	content: "\e601";
}
.br-three-o:before {
	content: "\e602";
}
.br-four-o:before {
	content: "\e603";
}
.br-five-o:before {
	content: "\e604";
}
.br-six-o:before {
	content: "\e605";
}
.br-seven-o:before {
	content: "\e606";
}
.br-eight-o:before {
	content: "\e607";
}
.br-nine-o:before {
	content: "\e608";
}
.br-zero-o:before {
	content: "\e609";
}
.br-one:before {
	content: "\e60a";
}
.br-two:before {
	content: "\e60b";
}
.br-three:before {
	content: "\e60c";
}
.br-four:before {
	content: "\e60d";
}
.br-five:before {
	content: "\e60e";
}
.br-six:before {
	content: "\e60f";
}
.br-seven:before {
	content: "\e610";
}
.br-eight:before {
	content: "\e611";
}
.br-nine:before {
	content: "\e612";
}
.br-zero:before {
	content: "\e613";
}
.br-quote-right-o:before {
	content: "\e614";
}
.br-quote-left-o:before {
	content: "\e615";
}
.br-tag:before {
	content: "\e616";
}
.br-tag-2:before {
	content: "\e617";
}
.br-link:before {
	content: "\e618";
}
.br-link-2:before {
	content: "\e619";
}
.br-cabinet:before {
	content: "\e61a";
}
.br-cabinet-2:before {
	content: "\e61b";
}
.br-calendar:before {
	content: "\e61c";
}
.br-calendar-date:before {
	content: "\e61d";
}
.br-calendar-2:before {
	content: "\e61e";
}
.br-file-add:before {
	content: "\e61f";
}
.br-file-remove:before {
	content: "\e620";
}
.br-file:before {
	content: "\e621";
}
.br-files:before {
	content: "\e622";
}
.br-phone:before {
	content: "\e623";
}
.br-tablet:before {
	content: "\e624";
}
.br-window:before {
	content: "\e625";
}
.br-monitor:before {
	content: "\e626";
}
.br-ipod:before {
	content: "\e627";
}
.br-tv:before {
	content: "\e628";
}
.br-camera:before {
	content: "\e629";
}
.br-camera-2:before {
	content: "\e62a";
}
.br-video-camera:before {
	content: "\e62b";
}
.br-film-reel:before {
	content: "\e62c";
}
.br-film:before {
	content: "\e62d";
}
.br-camera-film:before {
	content: "\e62e";
}
.br-microphone:before {
	content: "\e62f";
}
.br-microphone-2:before {
	content: "\e630";
}
.br-microphone-3:before {
	content: "\e631";
}
.br-drink:before {
	content: "\e632";
}
.br-drink-2:before {
	content: "\e633";
}
.br-drink-3:before {
	content: "\e634";
}
.br-drink-4:before {
	content: "\e635";
}
.br-coffee:before {
	content: "\e636";
}
.br-mug:before {
	content: "\e637";
}
.br-icecream:before {
	content: "\e638";
}
.br-cake:before {
	content: "\e639";
}
.br-inbox:before {
	content: "\e63a";
}
.br-download:before {
	content: "\e63b";
}
.br-upload:before {
	content: "\e63c";
}
.br-inbox-2:before {
	content: "\e63d";
}
.br-checkmark:before {
	content: "\e63e";
}
.br-checkmark-o:before {
	content: "\e63f";
}
.br-cancel:before {
	content: "\e640";
}
.br-cancel-o:before {
	content: "\e641";
}
.br-plus:before {
	content: "\e642";
}
.br-plus-o:before {
	content: "\e643";
}
.br-minus:before {
	content: "\e644";
}
.br-minus-o:before {
	content: "\e645";
}
.br-notice:before {
	content: "\e646";
}
.br-notice-o:before {
	content: "\e647";
}
.br-cog:before {
	content: "\e648";
}
.br-cogs:before {
	content: "\e649";
}
.br-cog-2:before {
	content: "\e64a";
}
.br-warning:before {
	content: "\e64b";
}
.br-health:before {
	content: "\e64c";
}
.br-suitcase:before {
	content: "\e64d";
}
.br-suitcase-2:before {
	content: "\e64e";
}
.br-suitcase-3:before {
	content: "\e64f";
}
.br-picture:before {
	content: "\e650";
}
.br-pictures:before {
	content: "\e651";
}
.br-pictures-2:before {
	content: "\e652";
}
.br-android:before {
	content: "\e653";
}
.br-marvin:before {
	content: "\e654";
}
.br-pacman:before {
	content: "\e655";
}
.br-cassette:before {
	content: "\e656";
}
.br-watch:before {
	content: "\e657";
}
.br-chronometer:before {
	content: "\e658";
}
.br-watch-2:before {
	content: "\e659";
}
.br-alarmclock:before {
	content: "\e65a";
}
.br-time:before {
	content: "\e65b";
}
.br-time-o:before {
	content: "\e65c";
}
.br-headphones:before {
	content: "\e65d";
}
.br-wallet:before {
	content: "\e65e";
}
.br-checkmark-2:before {
	content: "\e65f";
}
.br-cancel-2:before {
	content: "\e660";
}
.br-eye:before {
	content: "\e661";
}
.br-position:before {
	content: "\e662";
}
.br-sitemap:before {
	content: "\e663";
}
.br-sitemap-o:before {
	content: "\e664";
}
.br-cloud:before {
	content: "\e665";
}
.br-cloud-upload:before {
	content: "\e666";
}
.br-chart:before {
	content: "\e667";
}
.br-chart-o:before {
	content: "\e668";
}
.br-chart-v:before {
	content: "\e669";
}
.br-chart-2-v:before {
	content: "\e66a";
}
.br-chart-h:before {
	content: "\e66b";
}
.br-chart-2-h:before {
	content: "\e66c";
}
.br-location:before {
	content: "\e66d";
}
.br-cloud-download:before {
	content: "\e66e";
}
.br-basket:before {
	content: "\e66f";
}
.br-folder:before {
	content: "\e670";
}
.br-gamepad:before {
	content: "\e671";
}
.br-alarm:before {
	content: "\e672";
}
.br-alarm-cancel:before {
	content: "\e673";
}
.br-land-phone:before {
	content: "\e674";
}
.br-land-phone-full:before {
	content: "\e675";
}
.br-image:before {
	content: "\e676";
}
.br-open:before {
	content: "\e677";
}
.br-sale:before {
	content: "\e678";
}
.br-direction:before {
	content: "\e679";
}
.br-map:before {
	content: "\e67a";
}
.br-trashcan:before {
	content: "\e67b";
}
.br-vote:before {
	content: "\e67c";
}
.br-graduate:before {
	content: "\e67d";
}
.br-lab:before {
	content: "\e67e";
}
.br-tie:before {
	content: "\e67f";
}
.br-football:before {
	content: "\e680";
}
.br-eightball:before {
	content: "\e681";
}
.br-bowling:before {
	content: "\e682";
}
.br-bowlingpin:before {
	content: "\e683";
}
.br-baseball:before {
	content: "\e684";
}
.br-soccer:before {
	content: "\e685";
}
.br-dglasses:before {
	content: "\e686";
}
.br-microwave:before {
	content: "\e687";
}
.br-refrigerator:before {
	content: "\e688";
}
.br-oven:before {
	content: "\e689";
}
.br-washingmachine:before {
	content: "\e68a";
}
.br-mouse:before {
	content: "\e68b";
}
.br-smiley:before {
	content: "\e68c";
}
.br-sad:before {
	content: "\e68d";
}
.br-mute:before {
	content: "\e68e";
}
.br-hand:before {
	content: "\e68f";
}
.br-radio:before {
	content: "\e690";
}
.br-satellite:before {
	content: "\e691";
}
.br-medal:before {
	content: "\e692";
}
.br-medal-2:before {
	content: "\e693";
}
.br-switch:before {
	content: "\e694";
}
.br-key:before {
	content: "\e695";
}
.br-cord:before {
	content: "\e696";
}
.br-locked:before {
	content: "\e697";
}
.br-unlocked:before {
	content: "\e698";
}
.br-locked-2:before {
	content: "\e699";
}
.br-unlocked-2:before {
	content: "\e69a";
}
.br-search:before {
	content: "\e69b";
}
.br-zoom-in:before {
	content: "\e69c";
}
.br-zoom-out:before {
	content: "\e69d";
}
.br-stack-o:before {
	content: "\e69e";
}
.br-stack:before {
	content: "\e69f";
}
.br-stack-h:before {
	content: "\e6a0";
}
.br-davidstar:before {
	content: "\e6a1";
}
.br-cross:before {
	content: "\e6a2";
}
.br-moonandstar:before {
	content: "\e6a3";
}
.br-transformers:before {
	content: "\e6a4";
}
.br-batman:before {
	content: "\e6a5";
}
.br-spaceinvaders:before {
	content: "\e6a6";
}
.br-skeletor:before {
	content: "\e6a7";
}
.br-lamp:before {
	content: "\e6a8";
}
.br-lamp-2:before {
	content: "\e6a9";
}
.br-umbrella:before {
	content: "\e6aa";
}
.br-street-light:before {
	content: "\e6ab";
}
.br-bomb:before {
	content: "\e6ac";
}
.br-archive:before {
	content: "\e6ad";
}
.br-battery:before {
	content: "\e6ae";
}
.br-battery-66:before {
	content: "\e6af";
}
.br-battery-33:before {
	content: "\e6b0";
}
.br-battery-o:before {
	content: "\e6b1";
}
.br-battery-charging:before {
	content: "\e6b2";
}
.br-megaphone:before {
	content: "\e6b3";
}
.br-megaphone-2:before {
	content: "\e6b4";
}
.br-patch:before {
	content: "\e6b5";
}
.br-pil:before {
	content: "\e6b6";
}
.br-injection:before {
	content: "\e6b7";
}
.br-thermometer:before {
	content: "\e6b8";
}
.br-lamp-3:before {
	content: "\e6b9";
}
.br-lamp-4:before {
	content: "\e6ba";
}
.br-lamp-5:before {
	content: "\e6bb";
}
.br-cube:before {
	content: "\e6bc";
}
.br-box:before {
	content: "\e6bd";
}
.br-box-2:before {
	content: "\e6be";
}
.br-diamond:before {
	content: "\e6bf";
}
.br-bag:before {
	content: "\e6c0";
}
.br-moneybag:before {
	content: "\e6c1";
}
.br-grid-9:before {
	content: "\e6c2";
}
.br-grid-4:before {
	content: "\e6c3";
}
.br-list:before {
	content: "\e6c4";
}
.br-list-2:before {
	content: "\e6c5";
}
.br-ruler:before {
	content: "\e6c6";
}
.br-ruler-2:before {
	content: "\e6c7";
}
.br-layout:before {
	content: "\e6c8";
}
.br-layout-2:before {
	content: "\e6c9";
}
.br-layout-3:before {
	content: "\e6ca";
}
.br-layout-4:before {
	content: "\e6cb";
}
.br-layout-5:before {
	content: "\e6cc";
}
.br-layout-6:before {
	content: "\e6cd";
}
.br-layout-7:before {
	content: "\e6ce";
}
.br-layout-8:before {
	content: "\e6cf";
}
.br-layout-9:before {
	content: "\e6d0";
}
.br-layout-10:before {
	content: "\e6d1";
}
.br-layout-11:before {
	content: "\e6d2";
}
.br-layout-12:before {
	content: "\e6d3";
}
.br-layout-13:before {
	content: "\e6d4";
}
.br-layout-14:before {
	content: "\e6d5";
}
.br-tools:before {
	content: "\e6d6";
}
.br-screwdriver:before {
	content: "\e6d7";
}
.br-paint:before {
	content: "\e6d8";
}
.br-hammer:before {
	content: "\e6d9";
}
.br-brush:before {
	content: "\e6da";
}
.br-pen:before {
	content: "\e6db";
}
.br-chat:before {
	content: "\e6dc";
}
.br-comments:before {
	content: "\e6dd";
}
.br-chat-2:before {
	content: "\e6de";
}
.br-chat-3:before {
	content: "\e6df";
}
.br-volume-o:before {
	content: "\e6e0";
}
.br-volume-full:before {
	content: "\e6e1";
}
.br-volume-mute:before {
	content: "\e6e2";
}
.br-equalizer:before {
	content: "\e6e3";
}
.br-resize:before {
	content: "\e6e4";
}
.br-resize-small:before {
	content: "\e6e5";
}
.br-stretch:before {
	content: "\e6e6";
}
.br-narrow:before {
	content: "\e6e7";
}
.br-resize-2:before {
	content: "\e6e8";
}
.br-download-2:before {
	content: "\e6e9";
}
.br-calculator:before {
	content: "\e6ea";
}
.br-library:before {
	content: "\e6eb";
}
.br-auction:before {
	content: "\e6ec";
}
.br-justice:before {
	content: "\e6ed";
}
.br-stats-up:before {
	content: "\e6ee";
}
.br-stats-down:before {
	content: "\e6ef";
}
.br-attachment:before {
	content: "\e6f0";
}
.br-hourglass:before {
	content: "\e6f1";
}
.br-abacus:before {
	content: "\e6f2";
}
.br-pencil:before {
	content: "\e6f3";
}
.br-pen-2:before {
	content: "\e6f4";
}
.br-pin:before {
	content: "\e6f5";
}
.br-pin-2:before {
	content: "\e6f6";
}
.br-discout:before {
	content: "\e6f7";
}
.br-edit:before {
	content: "\e6f8";
}
.br-scissors:before {
	content: "\e6f9";
}
.br-profile:before {
	content: "\e6fa";
}
.br-profile-2:before {
	content: "\e6fb";
}
.br-profile-3:before {
	content: "\e6fc";
}
.br-rotate:before {
	content: "\e6fd";
}
.br-rotate-2:before {
	content: "\e6fe";
}
.br-reply:before {
	content: "\e6ff";
}
.br-forward:before {
	content: "\e700";
}
.br-retweet:before {
	content: "\e701";
}
.br-shuffle:before {
	content: "\e702";
}
.br-loop:before {
	content: "\e703";
}
.br-crop:before {
	content: "\e704";
}
.br-square:before {
	content: "\e705";
}
.br-square-2:before {
	content: "\e706";
}
.br-circle:before {
	content: "\e707";
}
.br-dollar:before {
	content: "\e708";
}
.br-dollar-2:before {
	content: "\e709";
}
.br-coins:before {
	content: "\e70a";
}
.br-pig:before {
	content: "\e70b";
}
.br-bookmark:before {
	content: "\e70c";
}
.br-bookmark-2:before {
	content: "\e70d";
}
.br-addressbook:before {
	content: "\e70e";
}
.br-addressbook-2:before {
	content: "\e70f";
}
.br-safe:before {
	content: "\e710";
}
.br-envelope:before {
	content: "\e711";
}
.br-envelope-2:before {
	content: "\e712";
}
.br-radioactive:before {
	content: "\e713";
}
.br-music:before {
	content: "\e714";
}
.br-presentation:before {
	content: "\e715";
}
.br-male:before {
	content: "\e716";
}
.br-female:before {
	content: "\e717";
}
.br-aids:before {
	content: "\e718";
}
.br-heart:before {
	content: "\e719";
}
.br-info:before {
	content: "\e71a";
}
.br-info-2:before {
	content: "\e71b";
}
.br-piano:before {
	content: "\e71c";
}
.br-rain:before {
	content: "\e71d";
}
.br-snow:before {
	content: "\e71e";
}
.br-lightning:before {
	content: "\e71f";
}
.br-sun:before {
	content: "\e720";
}
.br-moon:before {
	content: "\e721";
}
.br-cloudy:before {
	content: "\e722";
}
.br-cloudy2:before {
	content: "\e723";
}
.br-car:before {
	content: "\e724";
}
.br-bike:before {
	content: "\e725";
}
.br-truck:before {
	content: "\e726";
}
.br-bus:before {
	content: "\e727";
}
.br-bike-2:before {
	content: "\e728";
}
.br-plane:before {
	content: "\e729";
}
.br-paperplane:before {
	content: "\e72a";
}
.br-rocket:before {
	content: "\e72b";
}
.br-book:before {
	content: "\e72c";
}
.br-book-2:before {
	content: "\e72d";
}
.br-barcode:before {
	content: "\e72e";
}
.br-barcode-2:before {
	content: "\e72f";
}
.br-expand:before {
	content: "\e730";
}
.br-collapse:before {
	content: "\e731";
}
.br-popout:before {
	content: "\e732";
}
.br-popin:before {
	content: "\e733";
}
.br-target:before {
	content: "\e734";
}
.br-badge:before {
	content: "\e735";
}
.br-badge-2:before {
	content: "\e736";
}
.br-ticket:before {
	content: "\e737";
}
.br-ticket-2:before {
	content: "\e738";
}
.br-ticket-3:before {
	content: "\e739";
}
.br-microphone-4:before {
	content: "\e73a";
}
.br-cone:before {
	content: "\e73b";
}
.br-blocked:before {
	content: "\e73c";
}
.br-stop:before {
	content: "\e73d";
}
.br-keyboard:before {
	content: "\e73e";
}
.br-keyboard-2:before {
	content: "\e73f";
}
.br-radio-2:before {
	content: "\e740";
}
.br-printer:before {
	content: "\e741";
}
.br-checked:before {
	content: "\e742";
}
.br-error:before {
	content: "\e743";
}
.br-add:before {
	content: "\e744";
}
.br-remove:before {
	content: "\e745";
}
.br-alert:before {
	content: "\e746";
}
.br-pictures-3:before {
	content: "\e747";
}
.br-atom:before {
	content: "\e748";
}
.br-eyedropper:before {
	content: "\e749";
}
.br-globe:before {
	content: "\e74a";
}
.br-globe-o:before {
	content: "\e74b";
}
.br-shipping:before {
	content: "\e74c";
}
.br-yingyang:before {
	content: "\e74d";
}
.br-compass:before {
	content: "\e74e";
}
.br-zip:before {
	content: "\e74f";
}
.br-zip-o:before {
	content: "\e750";
}
.br-anchor:before {
	content: "\e751";
}
.br-lockedheart:before {
	content: "\e752";
}
.br-magnet:before {
	content: "\e753";
}
.br-navigation:before {
	content: "\e754";
}
.br-tags:before {
	content: "\e755";
}
.br-heart-add:before {
	content: "\e756";
}
.br-heart-remove:before {
	content: "\e757";
}
.br-usb:before {
	content: "\e758";
}
.br-clipboard-o:before {
	content: "\e759";
}
.br-clipboard-right:before {
	content: "\e75a";
}
.br-clipboard:before {
	content: "\e75b";
}
.br-switch-2:before {
	content: "\e75c";
}
.br-ruler-pencil:before {
	content: "\e75d";
}
